body {
    /*background-color: bisque;*/
    background-image: url("../img/background.jpg");
    min-width: 100%;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Lato', sans-serif;
    color: bisque;
    text-shadow: 2px 2px #000000;
    font-weight: normal;
}

nav.navbar {
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    /* background-color: burlywood; */
    background-color: #4C301D;

    text-shadow: none;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link {

    color: bisque;

}

nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {

    color: whitesmoke;

}

footer {
    font-weight: bold;
    color: black;
    text-shadow: none;
    /*background-color: burlywood;*/
    background-color: #4C301D;
    height: 50px;
    margin-top: 250px;
}

div.container-fluid h1.page-head {

    font-family: 'Dancing Script', cursive;
    font-size: 50pt;
    text-shadow: 2px 2px #000000;
    color: bisque;
    padding: 20pt;
    font-weight: bold;

}

a.terms-cons{
    font-weight: normal;
    color: black;
    text-decoration: none;
}

a.terms-cons:hover{
    color: whitesmoke;
}

body div.container-fluid div.row div.col-xs-4.col-sm-4.col-md-4 div.container-fluid h6 a {
    color: bisque;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 40pt;
}

body div.container-fluid div.row div.col-xs-4.col-sm-4.col-md-4 div.container-fluid h6 a:hover {
    color: brown;

}

body div.container-fluid div.container-fluid div.card {
    background-color: #4C301D;
    width: 35%;
}

body div.container-fluid div.container-fluid div.card h6 {
    text-shadow: none;
    text-decoration: none;
}